<button class="text-xl text-rm_orange uppercase font-benton_sans font-bold flex items-center gap-2">
    <slot />
    <img
        alt="orange arrow icon"
        class="size-6"
        src="/icons/orange-arrow.svg"
    />
</button>
