---

// IMPORTS JSX COMPONENTS
import HeroCarouselJSX from "@/components/home/hero/carousel/index.jsx"

// HARDCODED DATA
const data = Array(4).fill({

    button_link: "/work/mobileye",
    button_text: "See What We Did",
    description: "The Mobileye exhibition by Ruckus took CES by storm, garnering international attention.",
    title: "MOBILEYE CES  Disruption",
    video_source: "/hardcoded/hero.mp4",

})

---
<section class="h-full w-full relative">
    <HeroCarouselJSX
        client:load
        data={ data }
    />
</section>
