---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import ButtonArrow from "@/atoms/button/arrow/index.astro"
import Link from '@/atoms/link/index.astro'
import Video from "@/atoms/video/index.astro"

const data = {

    video_source: "/hardcoded/hero.mp4",
    title: "MOBILEYE CES  Disruption",
    description: "The Mobileye exhibition by Ruckus took CES by storm, garnering international attention.",
    button_text: "See What We Did",
    button_link: "/work/mobileye"

}

---
<section class="h-full w-full relative">
    <Video>
        <source src={ data.video_source } type="video/mp4" />
    </Video>
    <Container>
        <div class="absolute bottom-40 space-y-8">
            <h2 class="font-futura_pt font-light uppercase text-white text-6xl">{ data.title }</h2>
            <div class="w-[60%]">
                <p class="font-futura_pt text-white text-2xl">{ data.description }</p>
            </div>
            <Link href={ data.button_link } aria_label={ data.button_text }>
                <ButtonArrow>{ data.button_text }</ButtonArrow>
            </Link>
        </div>
    </Container>
</section>
